@model SisMEC.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

@{ 
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">EXCLUIR</h4>
        </div>

        <div class="modal-body">

            <h3>Deseja mesmo excluir este cliente?</h3>

            <table class="table table-borderless">
                <tbody>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ClienteNome)</th>
                        <td>@Html.DisplayFor(model => model.ClienteNome)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ClienteCPF)</th>
                        <td> @Html.DisplayFor(model => model.ClienteCPF)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ClienteEmail)</th>
                        <td> @Html.DisplayFor(model => model.ClienteEmail)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ClienteTelefone)</th>
                        <td> @Html.DisplayFor(model => model.ClienteTelefone)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row"> @Html.DisplayNameFor(model => model.ClienteEndereco)</th>
                        <td>@Html.DisplayFor(model => model.ClienteEndereco)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.Carro)</th>
                        <td>@Html.DisplayFor(model => model.Carro.CarroMarca)</td>
                    </tr>
                </tbody>
            </table>
        </div><!---modal body-->
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ClienteId" />
                        <input type="submit" value="Excluir" class="btn btn-danger"/> 
                        <a class="btn btn-primary" asp-action="Index">Voltar</a>
                    </form>
                }
            </div>
        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    function tirar() {
            $(".modal-backdrop").remove();
        }
</script>