@model SisMEC.Models.Produto

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Detalhes do Produto</h4>
        </div>
        <div class="modal-body">

            <table class="table table-borderless">
                <tbody>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ProdutoNome)</th>
                        <td>@Html.DisplayFor(model => model.ProdutoNome)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row">@Html.DisplayNameFor(model => model.ProdutoQuantidade)</th>
                        <td> @Html.DisplayFor(model => model.ProdutoQuantidade)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row"> @Html.DisplayNameFor(model => model.ProdutoValor)</th>
                        <td> @Html.DisplayFor(model => model.ProdutoValor)</td>
                    </tr>
                    <tr class="form-group">
                        <th scope="row"> @Html.DisplayNameFor(model => model.ProdutoDataValidade)</th>
                        <td> @Html.DisplayFor(model => model.ProdutoDataValidade)</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script>
    function tirar() {
        $(".modal-backdrop").remove();
    }
    </script>
