@model SisMEC.Models.Servico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoDataEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoDataEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoDataSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoDataSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoPecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoPecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteCPF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServicoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
